* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  body {
 
    min-height: 100vh;
    display: flex;
    background-color: #374151;
    flex-direction: column;
    color: #fff;
  }
  
  header{
      padding: 2rem 1rem;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
  }
  header h2{
      font-size: 2.5rem;
      font-weight:300;
      margin-bottom: 1rem;
      background-image: linear-gradient(to right, #2bc683,#a15dea);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  #new-task-form{
      display: flex;
  }
  input, button{
      appearance: none;
      background: none;
      border: none;
      outline: none;
  }
  #newTask{
      flex: 1 1 0%;
      background-color: #1f2937;
      padding: 1rem;
      border-radius: 1rem;
      margin-right: 1rem;
      color : #eee;
      font-size: 1.25rem;
  }
  #add{
        color: hotpink;
        font-size: 1.25rem;
        font-weight: 800;
        background-image: linear-gradient(to right,#a15dea, #2bc683);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        transition: 4s;
  }

  #add:hover{
      opacity: 0.8;
  }
  #add:active{
    opacity: 0.6;
}

  main{
    padding: 2rem 1rem;
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  .task-list {
      padding: 1rem;
  }

  .task-list h3{
      font-size: 1.5rem;
      font-weight: 500;
    background-image: linear-gradient(to right,#a15dea, #2bc683);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #tasks .task{
      display: flex;
      justify-content: space-between;
      background-color : #111827;
      padding: 1rem;
      border-radius: 1rem;
      margin-bottom: 1rem;
  }


  #tasks .task .contents{
      flex : 1 1 0%
  }
  #tasks .task .contents .text{
      color: white;
      font-size: 1.12rem;
      width: 100%;
      flex: 1 1 0%;
      display: block;
      transition: 4s;
  }
  #tasks .task .contents .text:not(:read-only){
      color: #d0ea5d;
  }
  #tasks .task .actions{
      display: flex;
      margin: 0 -0.5rem;
  }
  .task .actions button{
      cursor: pointer;
      margin : 0 0.5rem;
      font-size: 1.12rem;
      font-weight: 700;
      text-transform : uppercase;
      transition: 0.4s;
  }
.task .actions button:hover{
    opacity: 0.8;
}
.task .actions button:active{
    opacity: 0.6;
}

.task .actions .edit{
    background-image: linear-gradient(to right, #2bc683,#a15dea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.task .actions .delete{
    background-image: linear-gradient(to right, #C82D0B,#C0B4B1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



